@import "tailwindcss";

@theme {
  /* Nossas cores personalizadas */
  --color-dark: #121212;
  --color-dark-card: #1A1A1A;
  --color-neon-orange: #FF5500;
  --color-neon-green: #00FF00;
  
  /* Nosso efeito neon para o botão */
  --shadow-neon-orange: 0 0 10px rgba(255, 85, 0, 0.5), 0 0 20px rgba(255, 85, 0, 0.3);
}

/* Configuração do fundo da página */
body {
  background-color: var(--color-dark);
  color: #f3f4f6;
}